#gameBoard {
  width: 300px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}

#powerSwitch.click {
  background-color: blue;
}
#powerSwitch {
  width: 25%;
  height: 75px;
  background-color: gray;
}

#screen {
  width: 75%;
  height: 75px;
  background-color: #324E5C;
}

#digits {
  float: right;
  margin-top: 7%;
  margin-right: 7%;
  color: #f2f2f2;

  font-size: 50px;
}

.pad {
  width: 50%;
  height: 175px;
  padding: 0;
}

#green.click {
  background-color: #21a533;
}
#green {
  background-color: #30e849;
  order: 1;
}
#red.click {
  background-color: #bc2b40;
}
#red {
  background-color: #F73955;
  order: 2;
}
#yellow.click {
  background-color: #af9338;
}
#yellow {
  background-color: #EEC84C;
  order: 3;
}
#blue.click {
  background-color: #246c72;
}
#blue {
  background-color: #38A3AC;
  order: 4;
}

#start {
  width: 50%;
  height: 75px;
  background-color: #DBDEB5;
  text-align: center;
  order: 5;
}

#strict.click {
  background-color: red;
}
#strict {
  width: 50%;
  height: 75px;
  background-color: #DBDEB5;
  text-align: center;
  order: 6;
}
